header, section, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

*{
    margin: 0px;
    padding: 0px;
}

header {
    height: 130px;
    background-color: black;
    text-align: left;
    padding: 0px;
}

section {
    height: 400px;
}

footer {
    background-color: black;
}

body {
    font-family: 'Arial';
}

a {
    color: #8c9cff;
}

a:visited {
    color: #a58cff;
}

.main-title{
    font-family: 'Changa', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
}

.main-icon {
    height: 130px;
    width: 332px;
}

.topnav {
    background-color: #1a1a1a;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 15px;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #5b3ec9;
    color: white;
}

#first {
    margin-left: auto;
}

.cart-icon {
    height: 50px;
    width: 50px;
	margin-left: 50px;
	margin-right: 10px;
}

.search-button {
    padding: 5px;
    float: right;
    height: 56px;
}

.search-button-img {
    height: 40px;
    width: 40px;
}

.search {
    padding: 16px;
    font-size: 15px;
    float: right;
    margin-left: 130px;
}

.background-section {
    padding: 0px;
    height: 500px;
}

.background-image {
    position: absolute;
    display: flex;
    height: 500px;
}

.album-ad {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.container-404 {
    height: 700px;
}

.horizontal-ad {
    height: 50%;
}

.album-section {
    float: left;
    height: 400px;
    width: 29%;
}

.genre-title {
    font-family: 'Changa', sans-serif;
    font-size: 30px;
}

.album-display-small {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.album-img-small {
    max-height: 250px;
    max-width: 250px;
}

.see-more-container {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.see-more-button {
    padding: 15px;
    height: 70px;
    background-color: #8c9cff;
    font-family: 'Arial';
    font-size: 15px;
    border-radius: 10px;
    border-color: #8c9cff;
}

.album-display {
    height: 80%;
}

.img-display {
    padding: 10px;
    height: 500px;
}

.album-left-ad {
    float: left;
    height: 100%;
}

.album-right-ad {
    float: right;
    height: 100%;
}

.title-artist {
    
}

.ratings {
    display: flex;
    justify-content: center;
}

.album-songs {
    text-align: left;
}

.song-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

/*Ibrahim was here*/
.sub_title{
	text-align: left;
	font-size:170%;
	color:white;
}

.alignTextLeft{
	text-align: left;
	color:white;
}

/*Ibrahim was here*/
.about_section{
	background-color: #333;
	height:950px;
}

/*Ibrahim was here*/
#page_title{
	font-size:300%;
	color:white;
}

.release-date {
    display: flex;
    justify-content: space-between;
}

#album-genre {
    padding-left: 10px;
    text-align: left;
}

#album-list {
    width: 70%;
}

/*massimo adding new css for review page*/
.review-textbox{
    float: left;
    
}

.star-review{
    width: 50%;
    padding: 10px;
}


/*yan added for login page*/

.container-loginpage {
  height: 80%;
  justify-content: center;
  display: flex;
}

.container-login {
  width: 400px;
  border-radius: 10px;
  padding: 60px;
  color:white;
  background: linear-gradient(175deg, rgba(36,8,78,1) 0%, rgba(208,34,255,1) 100%);
  margin: 30px;
}


.login-title {
  font-size: 30px;
  color: #fff;
  text-align: center;
  display: block;
  margin: 22px;
}

.login-input {
  font-size: 16px;
  width: 100%;
  height: 45px;
  outline: none;
  border: none;
  margin: 0px;
  color: rgb(255, 255, 255);
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.438);
}


.label-remember {
  color: #fff;
  padding-left: 8px;
}

.container-checkbox {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align:left;
}

/*yan added for signup page*/

.container-signup {
  background-image:linear-gradient(85deg, rgba(42,116,167,0) 0%, rgba(65,29,90,0.6922969016708246) 52%, rgba(17,11,19,1) 100%), url("#{resource['images/signup-bg.jpg']}") ;
  position:relative;
  background-position: center;
  background-repeat:no-repeat; 
  background-size: cover; 
  height: 1200px;
  }


.signup-title{
  margin-bottom: 30px;
  text-align: center;
}

.form-block {
  background: rgb(32, 32, 32);
  color:white;
  margin: 60px;
  margin-left: 500px;
  padding: 40px;
  width: 550px;
  border-radius: 15px;
}

.form-label{
  margin-right: 33px;
}

.input-group {
  position: relative;
  margin-bottom: 22px;
}

.input-style {
  outline: none;
  border: none;
  margin: 0px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.438);
}

@media (max-width: 767.98px) {
    .container {
      width: 100%;
      height: 200px; 
    } 
    
    .form-block {
      width: 90%;
      padding: 25px; 
      margin-left: 10px;
      margin-right: 10px;
    }
}

/* yan added for management page*/

.container-page {
  width: 100%;
  background: linear-gradient(90deg, rgba(102,0,255,1) 0%, rgba(153,41,193,1) 100%);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

.container-table {
  width: 95%;
  border-radius: 10px;
  overflow: hidden;
}



.icon-bar {
  width: 100%; 
  background-color:rgb(236, 232, 232);
  margin: 35px;
  border-radius: 10px;
  overflow: hidden;
}

.icon-bar a {
  float: left; 
  text-align: center; 
  width: 11%; 
  padding: 12px 0; 
  color: black;
  font-size: 25px; 
}

.icon-bar a:hover {
  background-color: #000; 
  color: #f5f5f5;
}

.active {
  background-color: #8709a7; 
}

.ui-datatable-header{
    background:#000!important;
}

.table-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-right: 750px;
  color:#fff;
}

.table-column{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #313131;
  line-height: 1;
}


table-column:hover {
  font-weight: 700;
  color: #000000;
}


.modal-header{
  background: linear-gradient(108deg, rgba(19,184,190,1) 0%, rgba(117,37,255,1) 100%);
  color: white;
  border-radius: 35px;
}

.edit{
  cursor: pointer;
}

.ui-button-danger{
    background:#000!important;
    color:#fff!important;
}